#!/usr/bin/env python
PACKAGE = "project_1"

# Dynamic reconfigure utils
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Setting up physical robot's parameters
gen.add("R", double_t, 0, "Wheels radius [m]", 0.075797, 0, 1)
gen.add("L", double_t, 1, "Wheel position along x [m]", 0.2, 0, 1)
gen.add("W", double_t, 2, "Wheel position along y [m]", 0.158886, 0, 1)
gen.add("T", double_t, 3, "Gear ratio from motor to wheel", 0.2, 0, 1)
gen.add("N", double_t, 4, "Counts per revolution of the motor", 42.0, 0, 100)

# Enumeration used to chose which encoder's data will be used:
#   (0) RPM
#   (1) Ticks
wheel_speeds_data_source = gen.enum(
    [
        gen.const("RPM", int_t, 0, "Radiants per minute source"),
        gen.const("TICKS", int_t, 1, "Encoder ticks source")
    ],
    "Enumeration of wheels data sources"
)

# Adding the enumeration to generator
gen.add("wheel_data_source", int_t, 5, "Wheel Data Source Chosen", 1, 0, 1, edit_method=wheel_speeds_data_source)

# Bye bye
exit(gen.generate(PACKAGE, "velocity_computer", "velocityComputerParams"))