<launch>
    <node pkg="project_1" type="physical_params_setter" name="physical_params_setter" output="screen" />
    <node pkg="project_1" type="odometry_computer" name="odometry_computer" output="screen" />
    <node pkg="project_1" type="position_comparison" name="position_comparison" output="screen" />
    <node pkg="project_1" type="starting_position_detector" name="starting_position_detector" output="screen" />
    <node pkg="project_1" type="velocity_computer" name="velocity_computer" output="screen" />
    <node pkg="project_1" type="wheels_velocity_computer" name="wheels_velocity_computer" output="screen" />
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find project_1)/rviz/odometry_with_rviz.rviz" />
    <node pkg="rqt_reconfigure" type="rqt_reconfigure" name="rqt_reconfigure" />
    <node pkg="rosbag" type="play" name="player" args="--loop -r 10 $(find project_1)/../../bags/bag3.bag" />
</launch>